.frontPage {
  .positive {
    color: var(--green);
  }

  .negative {
    color: var(--red);
  }

  h1 {
    color: var(--bright);
  }

  h2 {
    color: var(--bright);
  }

  .logoWrapper {
    margin: 32px 0 16px 0;
  }

  .tradeButton {
    background: var(--accent);
    font-size: 14px;
    width: 270px;
  }

}

