.pg-priceInfoBar {
  margin: auto;
  position: absolute;
  top: 0; 
  left: 0; 
  bottom: 0; 
  right: 0;
  width: 95%;
  display: flex;
  align-items: center;

  &__navbar{
    padding-top: 3px;
    margin-left: 30px;
    float: right;
    right: 0;
    position: absolute;
  }
}

    