.signin-form {
  &-group {
    background: transparent;
    margin: 20px 0;
    position: relative;

    &-focused {
      .signin-form-label{
        color: var(--accent);
      }
    }
  }

  &-error {
    background: transparent;
    margin-top: 5px;
    color: var(--red);
  }

  &-input {
    margin-top: 20px;
  }
}
