.verify-email {
    background-color: var(--bg-2);
    text-align: center;
    margin: 20px 0;
    &-title {
        background-color: var(--header);
        color: var(--bright);
        padding: 20px 0;
        border-bottom: 2px solid var(--text-primary);
    }

    &-description {
        background: var(--bg-2);
        color: var(--text-secondary);
        padding: 20px 20px;
    }

    &-button {
        padding-bottom: 20px;
    }
}
