.progress-bar {
	height: 30px;
}

.progress-bar-wrapper {
	overflow: hidden;
	position: relative;
	border-radius: 10px;
	background-color: #33334d;
	margin: 10px 0;
}

.coinImageVoting {
	width: 30%;
}

.votePercentage {
	position: absolute;
    width: 100%;
    top: 7.5px;
    color: #fff;
}

.text-center {
	text-align: center;
}

.voting-loading {
	width: 100%;
	margin: 0 auto;
}

.voting-loading-error {
	width: 100%;
	color: #cc3300;
}

.voting-exception-color {
	color: #cc3300;
}